Task_1_Static_libraries/x64/
Task_1_Static_libraries/out/
Task_1_Static_libraries/.vs/
Task_1_Static_libraries/StaticLibrariesClient/StaticLibrariesClient.vcxproj.filters
Task_1_Static_libraries/StaticLibrariesClient/x64/
Task_1_Static_libraries/Task_1_Static_libraries/out/
Task_1_Static_libraries/Task_1_Static_libraries/x64
Task_2_Dinamic_libraries/x64/
Task_2_Dinamic_libraries/.vs/
Task_2_Dinamic_libraries/DinamicLibrariesClient/DinamicLibrariesClient.vcxproj.filters
Task_2_Dinamic_libraries/DinamicLibrariesClient/x64/
Task_2_Dinamic_libraries/Task_2_Dinamic_libraries/x64/
Task_2_Dinamic_libraries/Task_2_Dinamic_libraries/Task_2_Dinamic_libraries.vcxproj.filters
Task_3_DinamicLibrariesCMake/x64/
Task_3_DinamicLibrariesCMake/.vs/
Task_3_DinamicLibrariesCMake/out/
Task_3_DinamicLibrariesCMake/DinamicLibrariesCMake/DinamicLibrariesCMake.vcxproj.filters
Task_3_DinamicLibrariesCMake/DinamicLibrariesCMake/x64/
Task_3_DinamicLibrariesCMake/DinamicLibrariesCMakeClients/x64/
Task_3_DinamicLibrariesCMake/DinamicLibrariesCMakeClients/DinamicLibrariesCMakeClients.vcxproj.filters
Task_4_HierarchyClassInDLL/x64/
Task_4_HierarchyClassInDLL/.vs/
Task_4_HierarchyClassInDLL/HierarchiClassClient/HierarchiClassClient.vcxproj.filters
Task_4_HierarchyClassInDLL/HierarchiClassClient/x64/
Task_4_HierarchyClassInDLL/Task_4_HierarchyClassInDLL/x64/
Task_4_HierarchyClassInDLL/Task_4_HierarchyClassInDLL/Task_4_HierarchyClassInDLL.vcxproj.filters